<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<header th:replace="~{cabecalho :: head('Cadastrar cliente')}"></header>
<body>
	<div class="container mt-3">
		<h3 class="text-center">Cadastro de Filmes</h3>
		<hr>
		<form th:object="${filmeDto}" action="/cadastrarFilme" method="POST">
			<div class="row">
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Nome</span> <input
							th:errorclass="is-invalid" type="text" th:field="*{nome}"
							class="form-control">
						<div class="invalid-feedback" th:errors="*{nome}"></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Sinopse</span> <input type="text"
							th:field="*{sinopse}" th:errorclass="is-invalid"
							class="form-control">
						<div class="invalid-feedback" th:errors="*{sinopse}"></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Data de Lançamento</span> <input
							type="date" th:field="*{dataLancamento}"
							th:errorclass="is-invalid" class="form-control">
						<div class="invalid-feedback" th:errors="*{dataLancamento}"></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Diretor</span> <input type="text"
							th:field="*{diretor}" th:errorclass="is-invalid"
							class="form-control">
						<div class="invalid-feedback" th:errors="*{diretor}"></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Genero</span> <input type="text"
							th:field="*{genero}" th:errorclass="is-invalid"
							class="form-control">
						<div class="invalid-feedback" th:errors="*{genero}"></div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Atores</span> <input type="text"
							th:field="*{atores}" th:errorclass="is-invalid"
							class="form-control">
						<div class="invalid-feedback" th:errors="*{atores}"></div>
					</div>
				</div>



			</div>
			<div class="d-grid gap-2 col-4 mx-auto">

				<input class="btn btn-dark" type="submit" value="Cadastrar" />

				<a class="btn btn-dark" href="filmes">Visualizar Lista de
					Filmes</a>

			</div>
		</form>

	</div>
</body>
</html>