<nav  th:fragment="nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<label class="navbar-brand">Tourism on Mars Company</label>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-link active" aria-current="page" href="/home">Home</a>
					<a class="nav-link active" aria-current="page" href="/cadastro">Cadastro de Viagem</a>

				</div>
			</div>
			</div>
	</nav>